@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    width: 100vw;
}

.main-rent{
    flex-direction: row;
    gap: 3rem;
}

/* Navbar */
.navText {
    font-weight: bold;
    font-Family: "PT Sans", sans-serif;
}

.navb{
    height: 10vh;
}

.title {
    align-items: start;
    margin-left: 5vh;
    margin-block: 0;
    color: #a37941;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
}

.seccions {
    margin-right: 5vh;
    display: inline-block;
}

.seccion {
    color: #021d1d;
    margin: 2vh;
    text-decoration: none;
}

/* home */
.home-text {
    color: #a37941;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
}

/* About Us */
.title-table{
    color: whitesmoke;
    background-color: goldenrod;
    padding-left: 2%;
    padding-block: 2%;
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
}

.container-lista{
    min-width: 40vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-employees:hover {
    background-color: #eeeee7;
    border-radius: 2vh;
}

.link {
    text-decoration: none;
    color: #2a2c2b;
}

/* User */
.container-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.3rem;
    padding: 2%;
}

.container-description >span{
    text-wrap: nowrap;
}

.employee {
    background-color: #d8d8d8;
    border-radius: 0 0 8px 8px;
}

.name {
    color: #021d1d;
    padding-top: 2%;
    padding-left: 2%;
}

.description {
    color: #0d7575;
}


/* Message */

.card {
    margin-inline: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    border-radius: 2vh;
    margin-top: 5vh;
}

.person {
    margin-inline: 30%;
}


/* Rent */
.container-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 230, 230);
    padding: 0;
    min-width: 30vw;
    margin-left: 2%;
}

.title-form{
    border-radius: 0;
}

.form-rent{
    margin: 2%;
    display: flex;
    flex-direction: column;
    
}

.label {
    margin-left: 3%;
}

.input {
    display: block;
    margin-bottom: 2vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.container-table {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.table {
    border-collapse: collapse;
    width: 80%;
}

.table td,
.table th {
    border: 0.1vh solid #888888;
    padding: 1vh;
    text-align: left;
}

.button-crud-edit {
    border-radius: 0.6vh;
    border: 0.3vh solid blue;
    background-color: blue;
    color: #eeeee7;
    padding: 0.7vh;
    margin-right: 0.5vh;
    cursor: pointer;
}

.button-crud-delete {
    border-radius: 0.6vh;
    border: 0.3vh solid #fa0404;
    background-color: #ff0000;
    color: #eeeee7;
    padding: 0.7vh;
    cursor: pointer;
}

.buttons {
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-modal {
    margin-bottom: 1rem;
}

.input-modal {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3vh;
}

.input-modal:focus {
    color: #495057;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.modal-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    margin-inline: 29.8vw;
    margin-block: 10vh;
    background-color: #c2c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    /* Asegura que el modal esté sobre otros elementos */
    border-radius: 5vh;
}

.button-modal-cancel {
    display: inline;
    align-items: center;
    justify-content: center;
    margin-inline: 2vh;
    margin-bottom: 3vh;
    border: none;
    border-radius: 2vh;
    padding: 0.8vh;
    padding-inline: 2vh;
    cursor: pointer;
    border: 0.3vh solid #fa0404;
    background-color: #ff0000;
    color: white;
}
.button-modal-update {
    display: inline;
    align-items: center;
    justify-content: center;
    margin-inline: 2vh;
    margin-bottom: 3vh;
    border: none;
    border-radius: 2vh;
    padding: 0.8vh;
    padding-inline: 2vh;
    cursor: pointer;
    border: 0.3vh solid blue;
    background-color: blue;
    color: white;
}
.button-modal-yes {
    display: inline;
    align-items: center;
    justify-content: center;
    margin-inline: 2vh;
    margin-bottom: 3vh;
    border: none;
    border-radius: 1.5vh;
    padding: 0.5vh;
    padding-inline: 1.8vh;
    cursor: pointer;
    border: 0.3vh solid #fa0404;
    background-color: #ff0000;
    color: white;
}

.button-modal-no {
    display: inline;
    align-items: center;
    justify-content: center;
    margin-inline: 2vh;
    margin-bottom: 3vh;
    border: none;
    border-radius: 1.5vh;
    padding: 0.5vh;
    padding-inline: 1.8vh;
    cursor: pointer;
    border: 0.3vh solid #313131;
    background-color: #313131;
    color: white;
}

.container-delete {
    margin-block: 5vh;
}
.body-delate {
    text-align: center;
    margin-bottom: 2vh;
}
.footer-delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1100px) {
    .main-rent{
        flex-direction: column;
        justify-content: center;
    }
}